
extends layout

block content
	include modals/nav

	div#map
	div#info.info

	if locals.udata
		script.
			var udata= {
				name: '#{udata.name}',
				height: '#{udata.height}',
				weight: '#{udata.weight}',
				phone: '#{udata.phone}',
				lat: '#{udata.lat}',
				long: '#{udata.long}'
			};

	script(src='js/views/map.js')

block scripts
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/vendor/bootstrap.min.js')
	if locals.blScripts
			each script in blScripts
				script(type='text/javascript', src= script)
	script(src='/js/views/reset.js')
	script(src='/js/form-validators/resetValidator.js')